.login-box-body > h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.already_registered {
    font-weight: 700;
}
.login-or {
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 5px;
}
.password_reset_page {
    background: #d2d6de;
}
.password_reset_page form label {
    display: none;
}
.password_reset_page .btn,
.logout_page .btn {
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 0 0 auto;*/
}
.socialaccount_providers {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}
.socialaccount_providers li {
    display: inline-block;
    
}
.socialaccount_providers li a {

}
.socialaccount_providers li a .fa {
    font-size: 30px;
}
.socialaccount_providers li a .fa.fa-facebook-square {
    color: #4267b2;
}
.socialaccount_providers li a .fa.fa-google-plus-square {
    color: #db4437;
}
.socialaccount_providers li a .fa.fa-instagram {
    color: #262626;
}
.socialaccount_providers li a .fa.fa-twitter-square {
    color: #1da1f2;
}
.email-page .ctrlHolder {
    margin-bottom: 8px;
}
.email-page .ctrlHolder .verified,
.email-page .ctrlHolder .primary,
.email-page .ctrlHolder .unverified {
    padding-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.email-page .ctrlHolder .verified .fa,
.email-page .ctrlHolder .primary .fa {
    color: green;
}
.email-page .ctrlHolder .unverified .fa {
    color: red;
}
.email-page .btn {
    border-radius: 0;
    padding: 6px 8px;
}
.email-page .btn_add_email {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.change-password input {
    border-radius: 0;
}
.change-password p > label {
    display: none;
}
.change-password p > input {
    display: block;
    width: 240px;
    height: 34px;
    padding: 6px 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;   
}
.change-password .btn {
    display: block;
    width: 128px;
    margin-left: auto;
    margin-right: auto;
}