.login-box-body > h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.already_registered {
    font-weight: 700;
}
.login-or {
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 5px;
}
.password_reset_page {
    background: #d2d6de;
}
.password_reset_page form label {
    display: none;
}
.password_reset_page .btn {
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 0 0 auto;*/
}
.socialaccount_providers {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}
.socialaccount_providers li {
    display: inline-block;
    
}
.socialaccount_providers li a {

}
.socialaccount_providers li a .fa {
    font-size: 30px;
}
.socialaccount_providers li a .fa.fa-facebook-square {
    color: #4267b2;
}
.socialaccount_providers li a .fa.fa-google-plus-square {
    color: #db4437;
}
.socialaccount_providers li a .fa.fa-instagram {
    color: #262626;
}
.socialaccount_providers li a .fa.fa-twitter-square {
    color: #1da1f2;
}