{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body_class %}hold-transition login-page{% endblock %}

{% block body %}

{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
      </ul>
    </div>
    {% endif %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>ADV-BLOCK</b></a>
  </div>
  <div class="login-box-body">
  <h1>Вход</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Войдите используя любимый сервис или <a href="{{ signup_url }}">зарегистрируйтесь</a>
  на сайте {{ site_name }} {% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="form-group has-feedback">
      <input type="email" class="form-control" name="login" required="" autofocus="autofocus" placeholder="E-mail address" id="id_login">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      
      <input type="password" class="form-control" name="password" required="" id="id_password" placeholder="Password" >
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            <input type="checkbox" name="remember" id="id_remember"> Запомнить меня
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
      </div>
      <!-- /.col -->
    </div>
    
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль</a>
    <br>
    <a class="button secondaryAction" href="{{ signup_url }}">Создать аккаунт</a>

    
  </form>
  </div>
</div>
{% endblock content %}

{% endblock body %}


