{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block body_class %}hold-transition login-page{% endblock %}

{% block body %}

{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
      </ul>
    </div>
    {% endif %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>ADV-BLOCK</b></a>
  </div>
  <div class="login-box-body">
  	{% if form.errors %}
  	{{form.errors}}
  	{% endif %}
	<h1>Создать акаунт</h1>

	<p>{% blocktrans %}Уже зарегистрированы? <a href="{{ login_url }}">Войдите</a>.{% endblocktrans %}</p>

	<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
	  {% csrf_token %}
	  	<div class="form-group has-feedback">
	      <input type="email" class="form-control" name="email" required="" autofocus="autofocus" placeholder="E-mail address" id="id_email">
	      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	    </div>
	    <div class="form-group has-feedback">
	      <input type="password" class="form-control" name="password1" required="" id="id_password1" placeholder="Пароль" >
	      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	    </div>
	    <div class="form-group has-feedback">
	      <input type="password" class="form-control" name="password2" required="" id="id_password2" placeholder="Повторите пароль" >
	      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	    </div>
	  
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  {% endif %}
	  <div class="row">
        <div class="col-xs-7">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Согласен с<a href="#">условиями</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-5">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Отправить</button>
        </div>
        <!-- /.col -->
      </div>
	  
	</form>
	</div>
</div>

{% endblock content %}

{% endblock body %}
